:root {
  --main-whiteColor: #d4d4d8;
  --main-blackColor: #18181b;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 8rem;
}

body {
  background-color: var(--main-whiteColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameboardsContainer {
  display: flex;
}

.gameboards {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #0891b2;
  border: 1px solid black;
}

#one {
  display: flex;
}

#gameboardOne {
  /* position: relative; */
  /* left: 2rem; */
  /* top: -2.5rem; */
  /* transform: scale(0.75); */
  /* transform: translateX(8rem); */
}

#gameboardTwo {
  position: relative;
  transform: scale(1);
}

.boards {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  box-sizing: border-box;
}

#gameboardTwo > .boards:hover {
  background-color: #78716c;
}

#shipsContainer {
  height: 20rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ships {
  background-color: #57534e;
  height: 2rem;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.tower {
  width: 2rem;
  height: 2rem;
  border: 4px solid #747474;
  box-sizing: border-box;
  background-color: #292524;
  border-radius: 0.8rem;
}

#carrier {
  width: 10rem;
}

#battleship {
  width: 8rem;
}

#destroyerOne,
#destroyerTwo {
  width: 6rem;
}

#submarineOne,
#submarineTwo {
  width: 4rem;
}

#buttons {
  margin-top: 5rem;
  display: flex;
  gap: 4rem;
}

button {
  font-size: 1rem;
  padding: 0.5em 1.5em;
}
